<!DOCTYPE html>
<html>
<head>
    <title>Invitation</title>
    <link rel="stylesheet" href="static/css/invi.css">
</head>
<body>

    <div class="container">
        <h1>An Invitation for your <br> ~~~ Birthday Dinner ~~~</h1>
        <p>I know you have been wanting to get omakase. <br> So, for your special day, we are getting it!</p>
        <p>Date: <strong><span class="underline">11/05/2025</span></strong></p>
        <p>Time: <strong><span class="underline">19:45</span></strong></p>
        <p>Location: <strong><span class="underline">Chisai Sushi Club in SF</span></strong></p>
        <p>Transportation: <strong><span class="underline">Your personal driver (me)</span></strong></p>
    </div>
    <div class="video-container">
    <video id="background-video" autoplay loop muted>
        <source src="static/videos/bginvi.mp4" type="video/mp4">
        <!-- Add other video source types if needed (WebM, Ogg) -->
    </video>
    </div>
</body>
</html>